body {
    overflow-x: hidden !important;
    font-family: Helvetica, sans-serif  ;
    background-color: #fff;
    color: #8e8e8e ;
    backface-visibility: hidden;
    font-weight: 400;
    font-size:14px;
    line-height: 26px;
}
h1, h2, h3, h4, h5, h6,p{margin:0;}
img:not(.logos) {
    width: 100%;
    height: 100%;
    color: #738590;
}
* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
}
button {
    background: inherit;
    border: none;
}
.clearfix {
    overflow: hidden;
}

.overlay {
    position: relative;
}
.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* background: rgba(0, 0, 0, .7); */
}
.section-padding {
    padding: 80px 0 80px 0!important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 4px;
    margin: 2px;
}
.owl-theme .owl-dots .active span {
    width: 30px !important;
    background-color: #6F0F13 !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {margin-top: 30px;}
/* ================================================
       Preloader
==================================================*/
#loader {
    background-color: #6F0F13;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0;
    top: 0 
}
#loading-center {
    width: 100%;
    height: 100%;
    position: relative 
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}
.object {
    width: 8px;
    height: 50px;
    margin-right: 5px;
    background-color: #FFF;
    -webkit-animation: animate 1s infinite;
    animation: animate 1s infinite;
    float: left 
}
.object:last-child {
    margin-right: 0 
}
.object:nth-child(10) {
    -webkit-animation-delay: .9s;
    animation-delay: .9s 
}
.object:nth-child(9) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s 
}
.object:nth-child(8) {
    -webkit-animation-delay: .7s;
    animation-delay: .7s 
}
.object:nth-child(7) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s 
}
.object:nth-child(6) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s 
}
.object:nth-child(5) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s 
}
.object:nth-child(4) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s 
}
.object:nth-child(3) {
    -webkit-animation-delay: .2s;
    animation-delay: .2s 
}
.object:nth-child(2) {
    -webkit-animation-delay: .1s;
    animation-delay: .1s 
}
@-webkit-keyframes animate {
    50% {
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0) 
   }
}
@keyframes animate {
    50% {
        -ms-transform: scaleY(0);
        -webkit-transform: scaleY(0);
        transform: scaleY(0) 
   }
}
/*---- section title---- */
.section-title {
    font-size: 23px;
    line-height: 1;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
    color: #333333;
    text-align: center;
    font-family: Helvetica, sans-serif  ;
    font-weight: 900;
    text-transform: uppercase;
    margin-top:0;
}
.section-title::before {
    background: #333333 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 50px;
}
/*---- sub section title----*/
.sub-tit {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    font-family: Helvetica, sans-serif  ;
    position:relative;
    text-align:center;
   margin-bottom: 30px;
   }
canvas {
    display: block;
    
}
/*================================================
       Navbar
==================================================*/
.navbar-default {
    background: #000;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.navbar-default .navbar-brand {
    margin-top: 10px;
    transition: all .3s;
}
.navbar-default .navbar-brand img {
    width: 100px;
    height: auto;
}
.navbar-default .navbar-brand .logo-1 {
    display: none;
}
.navbar-default .navbar-nav>li>a {
    margin: 0 !important;
    color: #8e8e8e !important;
    padding: 0 !important;
    transition: all .4s;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #EFEACC !important;
    transition: all .4s;
}
.navbar-default .navbar-nav>li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    margin: 19px 10px 0;
    padding: 0px 4px;
    position: relative;
    text-transform: uppercase;
    transition: all .5s ease-in-out 0s;
    font-family: Helvetica, sans-serif  ;
    letter-spacing:1px;
}
.navbar-default .navbar-nav>li .active {
    color: #dde5ee !important;
    background: none;
}
.navbar-right {
    margin-right: 0px;
}
.nav-scroll {
    background: #000;
    min-height: 60px;
    line-height: 60px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: All 1s;
}
.nav-scroll .logo-1 {
    display: block !important;
}
.nav-scroll .logo-2 {
    display: none !important;
}

/*================================================
       Header
==================================================*/

#background-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    
}
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color:#6F0F13;
}
.header-overlay {
    position: relative;
}
.header-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, .2);
}

.intro-text {
   padding-top: 16%;
   width: 100%;
   z-index: 99;
}
    
.intro-text  h1 {
    text-align: left;
    display: block;
    font-size: 38px;
    font-weight: 900;
    margin: 20px 0;
    color: #EFEACC;
    font-family: Helvetica, sans-serif  ;
    letter-spacing: 1px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.intro-text  p,.intro-text p span {
    color: #EFEACC;
    font-size: 20px;
    font-weight: 300;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
    font-family: Helvetica, sans-serif  ;
    text-transform: uppercase;
    letter-spacing:1px;
}
.header .button-scroll {
   position: absolute;
   bottom: 5%;
   left: calc(50% - 13px);
   width: 26px;
   height: 40px;
   border-radius: 15px;
   border: 2px solid #a5a5a5;
   cursor: pointer;
   z-index: 9;
   transition: all 1s;
}

.button-scroll span {
   height: 10px;
   width: 2px;
   position: absolute;
   left: calc(50% - 1px);
   background: #888;
   -webkit-animation: finger 1.6s infinite alternate;
   -webkit-animation: finger 1.6s infinite;
   animation: finger 1.6s infinite;
}

.button-scroll:hover {
   border: 2px solid #fff;
}

@-webkit-keyframes finger {
    10% {
        opacity: 1;
   }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
   }
}
@keyframes finger {
    10% {
        opacity: 1;
   }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
   }
}


#particles-js {
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: 90%;
}
.display-table {
    display: table;
    height: 100%;
    width: 100%;
}
.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.contact-button {
    color: #EFEACC;
    font-weight: 400;
    text-align: center;
    padding: 7px 20px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(168, 168, 168, 0.5);
    margin-top: 105px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size:16px;
    font-family: Helvetica, sans-serif  ;
}
.contact-button:hover {
    color: #6F0F13;
    
    background-color: #EFEACC;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*================================================
      About
==================================================*/


.hero-img {
  
   overflow: hidden;

  margin:0 auto;
}
.hero-img img {
    transition: all .5s;
}
.hero-img:hover img {
    transform: scale(1.1);
    -webkit-transition: scale(1.1);
    transition: scale(1.1);
    -moz-transition: scale(1.1);
    -ms-transition: scale(1.1);
    -o-transition: scale(1.1);
}



.social-icon {
   margin-top:15px;
    text-align: center;
    box-shadow: 0px 10px 62px -16px #dde5ee;
   padding:15px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
   
}
.social-icon:hover {
    box-shadow: 0px 16px 40px 0px #dde5ee;
}
.social-icon i {
    width: 40px;
    height:40px;
    line-height: 40px;
    background: none;
    color: #333333;
    cursor: pointer;
    border: 1px solid #333333;
    transition: all .5s;
    margin-right: 3px;
    margin-left: 3px;
   
}
.social-icon span i:hover {
    background-color: #6F0F13;
    color: #fff;
}
.about-content{
    position:relative;
    box-shadow: 0px 10px 62px -16px #dde5ee;
    margin-left:30px;
    display: inline-block;
    transition: all .5s;
    padding:30px;
}
.about-content:hover {
    box-shadow: 0px 16px 40px 0px #dde5ee;
}


.about-content h3 {

    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #6F0F13;
    font-family: Helvetica, sans-serif  ;
    position: relative;
    margin: 0;
    padding-bottom: 10px;
    }
.about-text p{margin-top:15px;}
.about-text {
   display: block;
   transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

ul.person-info {
   padding:0;
   margin-top:15px;
   display: inline-block;
}

.person-info li {
  border-bottom: 1px solid #dde5ee;
padding: 17px 0;
color: #8f8f8f;
font-size: 13px;

width: 50%;
display: inline-block;
font-family: Helvetica, sans-serif  ;
letter-spacing: 1px;
}


.person-info li i {
   color: #333333;
   font-size: 12px;
   padding-right: 10px;
  }

.person-info li span {
   color: #333333;
   font-weight: bold;
   margin-right: 5px;
   letter-spacing: 1px;
}

ul.hire-info {
    
    padding:0;
   margin: 30px 0 0 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    width:100%;
    }

ul.hire-info li {
display: block;
float: left;
font-size: 13px;
font-weight: 700;
margin-right: 2%;
color: #333333;

}
.btn-hire-me {
    color: #EFEACC;
    border-radius: 0;
    display: block;
    margin: 0 auto;
    background: #6F0F13;
    transition: .4s;
    letter-spacing:1px;
    font-weight:400;
    font-size:12px;
   border:1px solid #6F0F13;
   font-family: Helvetica, sans-serif  ;
}
.btn-hire-me:hover,.btn-hire-me:focus  {
    background:#333333;
   color: #EFEACC;
   border:1px solid #333333;
}
.btn-down-cv {
     color: #EFEACC;
    border-radius: 0;
    display: block;
    margin: 0 auto;
    background: #333333;
    transition: .4s;
    letter-spacing:1px;
    font-weight:400;
   border:1px solid #333333;
   font-family: Helvetica, sans-serif  ;
   font-size:12px;
}
.btn-down-cv:hover,.btn-down-cv:focus {
    background:#6F0F13;
     border:1px solid #6F0F13;
     color:#EFEACC;
}
   
/*================================================
       Resume
==================================================*/

.resume {
    background: #F9F9F9;
}

.resume-work {
   padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 25px -10px #dde5ee;
}
.resume-edu {
   padding: 30px;
    background: #fff;
    margin-top: 80px;
    box-shadow: 0px 0px 25px -10px #dde5ee;
}
.timeline {
    position: relative;
    padding: 40px 0 
}
.timeline:before {
    position: absolute;
    top: 0;
    left: calc(50% - 2px);
    bottom: 0;
    width: 4px;
    background-color: #f1f1f1;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius:40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    content: ' ' 
}

.timeline .timeline-event {
    position: relative;
    
}
.timeline .timeline-event:after {
    content: "";
    display: table;
    clear: both 
}
.timeline .timeline-event:not(:last-child) {
    margin-bottom: 30px;
}
.timeline .timeline-event .timeline-event-point {
    position: absolute;
    top: 0;
    left: calc(50% - 16px);
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #6F0F13;
    border: 8px solid #fff 
}
.timeline .timeline-event .timeline-event-point:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: ' ';
    background-color: #6F0F13;
    -webkit-animation: timelinePointAnimation 2s infinite;
    -moz-animation: timelinePointAnimation 2s infinite;
    -ms-animation: timelinePointAnimation 2s infinite;
    -o-animation: timelinePointAnimation 2s infinite;
    animation: timelinePointAnimation 2s infinite;
    z-index: 0 
}
@-moz-keyframes timelinePointAnimation {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: .8 
   }
    100% {
        -webkit-transform: scale(2.5, 2.5);
        -moz-transform: scale(2.5, 2.5);
        -ms-transform: scale(2.5, 2.5);
        -o-transform: scale(2.5, 2.5);
        transform: scale(2.5, 2.5);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0 
   }
}
@-webkit-keyframes timelinePointAnimation {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: .8 
   }
    100% {
        -webkit-transform: scale(2.5, 2.5);
        -moz-transform: scale(2.5, 2.5);
        -ms-transform: scale(2.5, 2.5);
        -o-transform: scale(2.5, 2.5);
        transform: scale(2.5, 2.5);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0 
   }
}
@-o-keyframes timelinePointAnimation {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: .8 
   }
    100% {
        -webkit-transform: scale(2.5, 2.5);
        -moz-transform: scale(2.5, 2.5);
        -ms-transform: scale(2.5, 2.5);
        -o-transform: scale(2.5, 2.5);
        transform: scale(2.5, 2.5);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0 
   }
}

@keyframes timelinePointAnimation {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: .8 
   }
    100% {
        -webkit-transform: scale(2.5, 2.5);
        -moz-transform: scale(2.5, 2.5);
        -ms-transform: scale(2.5, 2.5);
        -o-transform: scale(2.5, 2.5);
        transform: scale(2.5, 2.5);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0 
   }
}
.timeline .timeline-event .timeline-event-date, .timeline .timeline-event .timeline-event-content {
    width: 45% 
}
.timeline .timeline-event .timeline-event-date {
    float: left;
    font-weight: 400;
    text-align: right;
    font-size: 14px;
    color: #8e8e8e;
    margin-top: 5px;
}
.timeline .timeline-event .timeline-event-content:hover {
    box-shadow: 0px 16px 40px 0px #dde5ee;
    transform: translateY(-10px);
    overflow: hidden;
}
.timeline .timeline-event .timeline-event-content {
    position: relative;
    float: right;
    text-align: left;
    box-shadow: 0px 10px 62px -16px #dde5ee;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    padding: 16px;
    top: -20px;
}
.timeline .timeline-event p {
   font-size: 14px;
   }
.timeline .timeline-event .timeline-event-title {
    font-weight: 700;
    color: #333333;
    font-size: 18px;
   font-family: Helvetica, sans-serif  ;
}
.timeline .timeline-event p.timeline-event-caption {
    font-weight: 500;
    font-size: 16px;
    color: #6F0F13;
   font-family: Helvetica, sans-serif  ;
}
.timeline .timeline-event:nth-child(2n) .timeline-event-date {
    float: right;
    text-align: left 
}
.timeline .timeline-event:nth-child(2n) .timeline-event-content {
    float: left;
    text-align: left; 
}
.timeline .timeline-event:nth-child(2n) .timeline-event-content:after {
    left: 100%;
    border-width: 20px 20px 0 0;
    border-color: #F9F9F9 transparent transparent transparent 
}

/*================================================
       Skills
==================================================*/


.skills-prog {
   padding: 30px;
   display: block;
   box-shadow: 0px 10px 62px -16px #dde5ee;
   transition: .4s;
   
}

.skills-prog:hover {
       box-shadow: 0px 15px 40px 0px #dde5ee;
}


.skills-prog h4 {
font-size: 12px;
font-weight: 700;
color: #333333;
font-family: Helvetica, sans-serif  ;
text-transform: uppercase;
margin-bottom: 5px;
}

.skills-prog .barfiller {
   background-color: #fff;
   border: 1px solid #6F0F13;
height: 13px;
   margin-bottom: 30px;
   padding: 3px;
   position: relative;
   width: 100%;
}

.skills-prog .barfiller .fill {
   display: block;
   position: relative;
   width: 0px;
   height: 100%;
   background: #333;
}

.skills-prog .barfiller .tip {
   color: #fff;
font-size: 10px;
left: 0;
margin-top: -29px;
padding: 0px 4px;
position: absolute;
z-index: 2;
background: #6F0F13;
margin-left: 6px;
font-weight: 700;
top: 20px;
}


/*================================================
       Services
==================================================*/

.services {
    background: #F9F9F9;
}
.service-list {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.04);
    background: #fff;
}
.servicebox {
    border: 1px solid #ededed;
    padding: 30px;
    margin-left: -1px;
    margin-top: -1px;
}

.servicebox i {
    color: #6F0F13;
    font-size: 30px;
}
.servicebox p {text-align: center;}

.servicebox h4 {
   text-align:center;
   font-size:16px;
   font-weight:700;
   margin: 15px 0;
   color: #333333;
   font-family: Helvetica, sans-serif  ;
}
.service-icon {
    display: block;
    margin: 0 auto;
    font-size: 40px;
    color: #febf34;
    line-height: 1;
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    width: 53px;
    text-align: center;
    transition: .4s;
    padding-top: 10px;
}
.service-content {
    overflow: hidden;
    padding-bottom: 10px;
   }
.servicebox:hover .service-icon {
    color: #fff;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
.no-spacing-row.row {
    margin-left: 0;
    margin-right: 0;
}
.no-spacing-row.row>div {
    padding-left: 0;
    padding-right: 0;
}

/*================================================
       Portfolio
==================================================*/

.portfolio .filtering span {
   cursor: pointer;
   display: inline-block;
   font-size: 18px;
   font-weight: 700;
   padding: 4px 14px;
   text-transform: capitalize;
   transition: .4s;
   color: #333333;
   font-family: Helvetica, sans-serif  ;
}
.portfolio .filtering span.active{color:#6F0F13;} 

.portfolio .gallery {
    margin-top: 30px;
}
.portfolio .gallery .single-portfolio {
    position: relative;
    overflow: hidden;
}
.portfolio .gallery .portfolio-overley {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.portfolio .gallery  .single-portfolio .portfolio-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    opacity:0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.portfolio .single-portfolio .portfolio-content .icon i {
    background-color: #6F0F13;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    margin: 0 2px 10px;
    text-align: center;
    width: 32px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.portfolio .single-portfolio .portfolio-content h5 {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-family: Helvetica, sans-serif  ;
    font-weight:700;
}
.portfolio .single-portfolio .portfolio-content p {
   color: #8e8e8e;
font-size: 14px;
font-family: Helvetica, sans-serif  ;
font-weight:400;
}
.portfolio .single-portfolio .portfolio-content .icon{margin-top:5px;}
.portfolio .grid-item {
   padding: 0 !important;
   margin: 0 !important;
}
.portfolio .gallery .grid-item:hover .portfolio-overley {
    opacity: .7;
    visibility: visible;
}
.portfolio .gallery .grid-item:hover .portfolio-content {
    opacity: 1;
    visibility: visible;
}


/*================================================
       Contact
==================================================*/

.contact {
    background-image: url(../img/contact-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0%;
    position: relative;
    background-color:#6F0F13
}
.contact .section-title {
    color: #EFEACC;
}
.contact .section-title::before {
    background: #EFEACC none repeat scroll 0 0;
}


    .contact-box {
       position: relative;
       font-family: Helvetica, sans-serif  ;
       background: #EFEACC;
       display: block;
       margin: 0 auto;
       width: 80%;
        }
    .contact-box form {
        display: inline-block;
           margin: 0 auto;
           padding: 30px;
           width: 100%;
   }
.contact-box form input {
    width: 100%;
    background: none;
    color: #6F0F13;
    
    border-radius: 4px;
    border: 1.25px solid #6F0F13;
    padding: 10px;
    font-weight: 400;
}
.contact-box form textarea {
    background: none;
    color: #6F0F13  !important;
    
    border: 1.25px solid #6F0F13;
    border-radius: 4px;
    padding: 10px;
    font-weight: 500;
}

.contact form ::-webkit-input-placeholder {
   /* WebKit, Blink, Edge */
    font-weight: 400;
    color: #6F0F13 !important;
    opacity: 1;
}
.contact-box form :-moz-placeholder {
   /* Mozilla Firefox 4 to 18 */
    color: #6F0F13 !important;
    opacity: 1;
}
.contact-box form ::-moz-placeholder {
   /* Mozilla Firefox 19+ */
    color: #6F0F13 !important;
    opacity: 1;
}
.contact-box form :-ms-input-placeholder {
   /* Internet Explorer 10-11 */
    color: #6F0F13 !important;
    opacity: 1;
}
.contact-box form ::-ms-input-placeholder {
   /* Microsoft Edge */
    color: #6F0F13 !important;
    opacity: 1;
}
.contact-box form ::placeholder {
   /* Most modern browsers support this now. */
    color: #6F0F13 !important;
    opacity: 1;
}
.contact-box form .btn-send:hover {background:#6F0F13;}
.contact-box form .btn-send {
  animation-delay: 2s;
border: 1.25px solid #333333;
border-radius: 4px !important;

cursor: pointer;
display: inline-block;
font-size: 12px;
font-weight: 500;
letter-spacing: 1px;
padding: 8px 35px;
text-align: center;
text-transform: uppercase;
width: 100%;
font-family: Helvetica, sans-serif  ;
   
}

.btn-success:hover{ 
   background-color: #6F0F13;
   border-color: #6F0F13;
   color:#EFEACC !important;
   }
.map-section {
    position: relative;
    height: 100%;
}
.map-canvas {
    position: relative;
    height: 450px;
}

.map-section {
    position: relative;
    height: 100%;
}
.map-canvas {
    position: relative;
    height: 450px;
}

/*================================================
       Footer
==================================================*/

footer {
    background-color: #0d0c0c;
    text-align: center;
    padding: 80px 0 0 0;
}
footer img {
    width: 110px;
}
footer .social-icon {
    border: none;
    box-shadow: none;
 
}
footer .social-icon:hover {
    box-shadow: none;
}
footer .rights {
    position: relative;
}
footer .rights p {
    color: #EFEACC;
    font-weight: 400;
    background: #000;
    padding: 30px 0;
    margin: 80px 0 0 0;
    font-size: 12px;
    font-family: Helvetica, sans-serif  ;
}
footer h3 {
    font-family: Helvetica, sans-serif  ;
    font-size:16px;
    color:#EFEACC;
    margin-bottom:10px;
}

footer ul.footer-info {
   padding:0;
   display: inline-block;
   border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

footer ul.footer-info li {
margin-bottom: 5px;
   letter-spacing: 1px;
   color: #EFEACC;
   font-size: 12px;
   width:100%;
   text-align:center;
   display: inline-block;
   font-family: Helvetica, sans-serif  ;
}


footer ul.footer-info li i {
   color: #6F0F13 ;
   font-size: 12px;
   padding-right: 10px;
  }






.project-info{margin-top:25px;}

.single-project-meta {
   margin-top: 10px;
   padding:0;
   font-family: Helvetica, sans-serif  ;
}
.project-meta-wrapper{box-shadow: 0px 10px 62px -16px #dde5ee;
padding: 20px 30px;
}
.project-meta-wrapper .sub-tit{text-align:left;}
.single-project-meta li {
   border-bottom: 1px solid #dde5ee;
   padding: 10px 0;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #333;
   font-size: 12px;
}

.single-project-meta li:last-child {
   border-bottom: 1px solid transparent;
}

.single-project-meta li i {
   color: #333333;
   font-size: 14px;
   padding-right: 7px;
  }

.single-project-meta li span {
   color: #333333;
   font-weight: bold;
   margin-right: 5px;
   letter-spacing: 1px;
}
.single-project-description .sub-tit{text-align:left;}
.single-project-description{
   padding: 20px 30px;
   margin-top: 40px;
box-shadow: 0px 10px 62px -16px #dde5ee;}

.single-project-description blockquote {
    font-size: 14px;
    background-color: #f9f9f9;
    margin-top: 15px;
    margin-bottom: 15px;
}
.single-project-link {
   margin-top: 30px;
}

.project-link {
   border-bottom: 1px solid #dde5ee;
   color: #333333;
   display: inline-block;
   font-size: 10px;
   letter-spacing: 1px;
   text-transform: uppercase;
}

.project-link:hover {
   color: #6F0F13;
}

.prev-project i {
   margin-right: 7px;
}

.next-project {
   float: right;
}
.next-project i {
   margin-left: 7px;
}

ul.jobDescripts{
    list-style: none;
}

ul.jobDescripts li{
    font-size: 14px;
}
ul.jobDescripts li:before {
    color: #6F0F13;
    content: '»\0000a0';
    font-size: 1.2em;
    font-weight: bold;
}

img.logos {
    margin: 26px;
}
